* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  padding: 0 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__container::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 1px solid #BABBC5;
  width: 100%;
}

@media (max-width: 375px) {
  .header__container::after {
    border-bottom: 1px solid transparent;
  }
}

.header__logo {
  display: inline-block;
}

@media (max-width: 375px) {
  .header__logo {
    width: 103.5px;
    height: 14.4px;
  }
}

.header__logotype {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

@media (max-width: 375px) {
  .header__logotype {
    width: 103.5px;
    height: 14.4px;
  }
}

.header__menu {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__menu:hover {
  background-color: rgba(255, 67, 67, 0.8);
  -webkit-box-shadow: 4px 4px 30px rgba(255, 67, 67, 0.8);
          box-shadow: 4px 4px 30px rgba(255, 67, 67, 0.8);
}

.header__menu:active {
  background-color: rgba(185, 12, 12, 0.8);
  -webkit-box-shadow: 4px 4px 30px rgba(185, 12, 12, 0.8);
          box-shadow: 4px 4px 30px rgba(185, 12, 12, 0.8);
}

@media (max-width: 768px) {
  .header__menu {
    display: inline-block;
    margin: 19px 0;
  }
}

.header__btn {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  height: 56px;
  width: 55px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.header__item {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  min-width: 134px;
  width: 100%;
  text-align: center;
  padding: 38px 0  43px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__item:hover {
  border-bottom: 30px solid #BABBC5;
  padding-bottom: 13px;
}

.header__item:active {
  border-bottom: 30px solid rgba(255, 67, 67, 0.8);
  color: rgba(255, 67, 67, 0.8);
  padding-bottom: 13px;
}

@media (max-width: 1024px) {
  .header__item {
    min-width: 112px;
    font-size: 12px;
    line-height: 14px;
  }
}

.banner {
  background-image: url(../media/desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 230px 0 120px;
}

@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}

@media (max-width: 375px) {
  .banner {
    padding: 108px 0 52px;
  }
}

.banner::after {
  content: '';
  display: block;
  background: #252b49cc;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.banner__container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  text-align: center;
  /*
        @media (max-width: 375px) {
            max-width: 280px;
        }
        */
}

.banner__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #fff;
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 61px;
  }
}

@media (max-width: 375px) {
  .banner__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 32px;
  }
}

.banner__text {
  max-width: 1000px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 0 auto 79px;
}

@media (max-width: 1024px) {
  .banner__text {
    max-width: 750px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 91px;
  }
}

@media (max-width: 375px) {
  .banner__text {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 49px;
  }
}

.banner__btn {
  max-width: 370px;
  width: 100%;
  padding: 25px;
  background: #ff4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .banner__btn {
    max-width: 314px;
  }
}

@media (max-width: 375px) {
  .banner__btn {
    max-width: 280px;
    font-size: 24px;
    line-height: 28px;
    padding: 16px;
  }
}

.banner__btn:hover {
  background-color: #e71414;
}

.banner__btn:active {
  background: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}

.features {
  padding: 116px 0;
}

@media (max-width: 1024px) {
  .features {
    padding: 78px 0;
  }
}

@media (max-width: 375px) {
  .features {
    padding: 40px 0 35px;
  }
}

.features__container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 29px;
          column-gap: 29px;
  row-gap: 89px;
}

@media (max-width: 1024px) {
  .features__container {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 50px;
  }
}

@media (max-width: 545px) {
  .features__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 375px) {
  .features__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 41px;
  }
}

.features__item {
  text-align: center;
}

.features__icon {
  margin-bottom: 54px;
}

@media (max-width: 1024px) {
  .features__icon {
    width: 85px;
    height: 85px;
    margin-bottom: 47px;
  }
}

@media (max-width: 375px) {
  .features__icon {
    width: 75.75px;
    height: 75.75px;
    margin-bottom: 40px;
  }
}

.features__title {
  margin-bottom: 47px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #2D3033;
}

@media (max-width: 1024px) {
  .features__title {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 375px) {
  .features__title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 21px;
  }
}

.features__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}

@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 375px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.furniture {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.furniture__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.furniture__link::before {
  content: '';
  padding-top: 90%;
  display: block;
}

.furniture__link:hover {
  -webkit-transform: rotate(360deg) scale(0.8);
          transform: rotate(360deg) scale(0.8);
}

.furniture__link:active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.furniture__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.furniture__item {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 67, 67, 0.8);
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.furniture__item:hover {
  opacity: 1;
}

.furniture__item:active {
  background: rgba(185, 12, 12, 0.8);
}

.furniture__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .furniture__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 23px;
  }
}

@media (max-width: 375px) {
  .furniture__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 9px;
  }
}

.furniture__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1024px) {
  .furniture__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 375px) {
  .furniture__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 375px) {
  .furniture {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.team {
  padding: 114px 0;
}

@media (max-width: 1024px) {
  .team {
    padding: 78px 0;
  }
}

@media (max-width: 375px) {
  .team {
    padding: 35px 0 34.5px;
  }
}

.team__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .team__container {
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

@media (max-width: 540px) {
  .team__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 56px;
  }
}

@media (max-width: 375px) {
  .team__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 56px;
  }
}

.team__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.team__image {
  position: relative;
  margin-bottom: 30px;
}

.team__image::before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (max-width: 375px) {
  .team__image::before {
    padding-top: 81%;
  }
}

@media (max-width: 1024px) {
  .team__image {
    margin-bottom: 25px;
  }
}

.team__image-face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D3033;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .team__name {
    font-size: 18px;
    line-height: 22px;
  }
}

.team__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 18px;
}

@media (max-width: 1024px) {
  .team__job {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 22px;
  }
}

@media (max-width: 375px) {
  .team__job {
    margin-bottom: 41px;
  }
}

.team__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}

@media (max-width: 375px) {
  .team__text {
    margin-bottom: 55px;
  }
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .team__socials {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
}

.team__link {
  width: 39px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c6cbcd;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team__link path {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team__link:hover path {
  fill: #000;
}

.team__link:active path {
  fill: #e71414;
}

.team__link:hover {
  border: 1px solid #000;
}

.team__link:active {
  border: 1px solid #e71414;
}

@media (max-width: 1024px) {
  .team__link {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 375px) {
  .team__link {
    width: 39.6px;
    height: 39.6px;
  }
}

@media (max-width: 1024px) {
  .team__icon {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 375px) {
  .team__icon {
    width: 39.6px;
    height: 39.6px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12.5px;
}

@media (max-width: 375px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10.5px;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #7e5d6f;
}

.swiper-pagination-bullet-active {
  background-color: #7e5d6f;
}

@media (max-width: 1024px) {
  .swiper-pagination-bullet {
    width: 9.5px;
    height: 9.5px;
  }
}

.testimonials__swiper {
  padding-bottom: 55px;
}

@media (max-width: 1024px) {
  .testimonials__swiper {
    padding-bottom: 43.5px;
  }
}

@media (max-width: 375px) {
  .testimonials__swiper {
    padding-bottom: 42.5px;
  }
}

.testimonials__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 530px) {
  .testimonials__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonials__image {
  position: relative;
  max-width: 49%;
  width: 100%;
}

@media (max-width: 530px) {
  .testimonials__image {
    max-width: 100%;
  }
}

.testimonials__image::before {
  content: "";
  display: block;
  padding-top: 66%;
}

.testimonials__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials__block {
  background-color: #5c3249;
  max-width: 51%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 129px;
}

@media (max-width: 1024px) {
  .testimonials__block {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    padding: 47px 88px;
  }
}

@media (max-width: 530px) {
  .testimonials__block {
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .testimonials__block {
    padding: 15px 25px 95px 20px;
  }
}

.testimonials__text {
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 39px;
}

@media (max-width: 1024px) {
  .testimonials__text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 22px;
  }
}

@media (max-width: 375px) {
  .testimonials__text {
    text-align: center;
    margin-bottom: 37px;
  }
}

.testimonials__name {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1024px) {
  .testimonials__name {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 375px) {
  .testimonials__name {
    text-align: center;
  }
}

.download {
  padding: 114px 0;
}

@media (max-width: 1024px) {
  .download {
    padding: 78px 0;
  }
}

@media (max-width: 375px) {
  .download {
    padding: 35px 0;
  }
}

.download__container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  text-align: center;
}

.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
  }
}

@media (max-width: 375px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
}

.download__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin-bottom: 48px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 46px;
  }
}

@media (max-width: 375px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 15px;
  }
}

.download__btn {
  max-width: 370px;
  width: 100%;
  padding: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff4343;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.download__btn:hover {
  background-color: #e71414;
}

.download__btn:active {
  background: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .download__btn {
    max-width: 314px;
    font-size: 18px;
    line-height: 22px;
    padding: 29px;
  }
}

@media (max-width: 375px) {
  .download__btn {
    max-width: 279px;
  }
}

.footer__top {
  padding: 71px 0;
  background-color: #353c65;
}

@media (max-width: 1024px) {
  .footer__top {
    padding: 46px 0 43px;
  }
}

@media (max-width: 375px) {
  .footer__top {
    padding: 34px 0;
  }
}

.footer__top-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer__top-container {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 545px) {
  .footer__top-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 59px;
  }
}

.footer__info {
  max-width: 370px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer__info {
    max-width: 315px;
  }
}

@media (max-width: 375px) {
  .footer__info {
    max-width: 280px;
  }
  .footer__info:nth-of-type(1) {
    margin-bottom: 10px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 29px;
}

@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 17px;
  }
}

@media (max-width: 375px) {
  .footer__title {
    margin-bottom: 34px;
  }
}

.footer__title_links {
  margin-bottom: 48px;
}

@media (max-width: 1024px) {
  .footer__title_links {
    margin-bottom: 32px;
  }
}

@media (max-width: 375px) {
  .footer__title_links {
    margin-bottom: 36px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  max-width: 170px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer__links {
    max-width: 145px;
    -webkit-column-gap: 23px;
            column-gap: 23px;
  }
}

@media (max-width: 375px) {
  .footer__links {
    max-width: 132px;
    -webkit-column-gap: 17px;
            column-gap: 17px;
  }
}

.footer__link {
  display: inline-block;
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__link path {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__link:hover path {
  fill: #000;
}

.footer__link:active path {
  fill: #e71414;
}

.footer__link:hover {
  border: 1px solid #000;
}

.footer__link:active {
  border: 1px solid #e71414;
}

@media (max-width: 1024px) {
  .footer__link {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 1024px) {
  .footer__icon {
    width: 33px;
    height: 33px;
  }
}

.footer__bottom {
  padding: 24px 0;
  background-color: #2c3154;
}

@media (max-width: 1024px) {
  .footer__bottom {
    padding: 14px 0;
  }
}

@media (max-width: 375px) {
  .footer__bottom {
    padding: 29px 0;
  }
}

.footer__bottom-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  max-width: 400px;
}

@media (max-width: 1024px) {
  .footer__bottom-container {
    max-width: 314px;
  }
}

@media (max-width: 375px) {
  .footer__bottom-container {
    max-width: 280px;
  }
}

.footer__bottom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #808080;
}

@media (max-width: 1024px) {
  .footer__bottom-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__bottom-name {
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__bottom-name:hover {
  color: #000;
}

.footer__bottom-name:active {
  color: #e71414;
}
/*# sourceMappingURL=style.css.map */